.page-title
	h1 Destruction and creation

.activities
	a.activity([routerLink]="['/hour1400']")
		.image(style="background: url(assets/hour1400.png);")
			.fa.fa-play.fa-3x
		.description
			h3 Hour 1400
	.activity([routerLink]="['/mp4/2014']")
		.image(style="background: url(assets/background2014.png);")
			.fa.fa-play.fa-3x
		.description
			h3 2014
	.activity([routerLink]="['/mp4/2015']")
		.image(style="background: url(assets/background2015.png);")
			.fa.fa-play.fa-3x
		.description
			h3 2015

.activities
	.activity
		.image
			.fa.fa-play.fa-3x
		.description
			h3 Missing 2016
	.activity([routerLink]="['/mp4/2017']")
		.image(style="background: url(assets/background2017.png);")
			.fa.fa-play.fa-3x
		.description
			h3 2017
	.activity([routerLink]="['/mp4/2018']")
		.image(style="background: url(assets/background2018.png);")
			.fa.fa-play.fa-3x
		.description
			h3 2018